---
import { Portafolio } from "../components/Portafolio.jsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Thiare Sáez</title>
		<link href="/dist/output.css" rel="stylesheet" />
	</head>
	<body>
		<div class="w-full h-screen">
			<Portafolio client:only="react" />
		</div>
	</body>
</html>
