@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BarlowSemi';
    src: url('../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'BarlowSemi-light';
    src: url('../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'BarlowSemi-bold';
    src: url('../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  